body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  font-family: Consolas;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 0 25px;
}
.header a {
  color: #f2f2f2;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* common */
.bold {
  font-weight: bold;
}

/* Transitions */
.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.fade-down-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.fade-down-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.fade-down-exit {
  opacity: 1;
  transform: translateY(0%);
}
.fade-down-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.fade-up-enter {
  opacity: 0;
  transform: translateY(100%);
}
.fade-up-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.fade-up-exit {
  opacity: 1;
  transform: translateY(0%);
}
.fade-up-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
}
